body {
    background-color: floralwhite;
}
#workButton {
    background-color: yellow;
    font-size: large;
}
#depositeButton {
    background-color: darkred;
    font-size: large;
}
#loanButton {
    background-color: darkgreen;
    font-size: large;
}

p {
    font-size: xx-large;
    font-weight: bolder;
}

#computerImg {
    max-width: 200px;
    max-height: 200px;
}